.spinner-div {
    margin: 50px 0 60px 0;
}
.add-btn {
    background-color:rgb(235, 50, 17);
    border-color: rgb(235, 50, 17);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    
}
.create-btn {
    background-color:rgb(57, 17, 235);
    border-color: rgb(57, 17, 235);
    width: 90%;
    max-width: 400px;
    margin: 30px auto 0 auto;
    
}

.text-box {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

.grocery-items {
    list-style-type: none;
    float: left;
    margin: 5px 10px 0 0;
}
.grocery-list {
    width: 90%;
    margin: 30px auto;
}