<form [formGroup]="groceryForm">

  <div *ngIf="!isSubmitting" class="form-group">
    <input type="text" 
           class="form-control text-box" 
           id="groceryItem" aria-describedby="emailHelp" 
           formControlName="name"
           placeholder="Enter a grocery item">
  </div>

<div class="spinner-div" *ngIf="isSubmitting">
  <i class="fa fa-spinner fa-spin" style="font-size:70px; color:rgb(235, 50, 17)"></i>
</div>



  <button type="submit" 
          class="btn btn-primary add-btn" 
          (click)="addGroceryItem()"
          [disabled]="isSubmitting">Add Item
  </button>
</form>

<div class="grocery-list">
    <li *ngFor="let item of groceryList; let i = index" class="grocery-items">
      <strong>{{ i + 1 }}.</strong> {{ item | titlecase }}
    </li>
  </div>

  <div *ngIf="groceryList && groceryList.length > 2" class="create-list-btn-div">
      <button  type="submit" 
      class="btn btn-primary create-btn" 
      (click)="createGroceryList()"
      [disabled]="isSubmitting">Create List
</button>
  </div>
