<form [formGroup]="groceryForm">

  <div *ngIf="!isSubmitting" class="form-group">
    <input type="text" 
           class="form-control text-box" 
           id="groceryItem" aria-describedby="emailHelp" 
           formControlName="name"
           placeholder="Enter a grocery item">
  </div>

<div class="spinner-div" *ngIf="isSubmitting">
  <i class="fa fa-spinner fa-spin" style="font-size:70px; color:rgb(235, 50, 17)"></i>
</div>



  <button type="submit" 
          class="btn btn-primary add-btn" 
          (click)="addGroceryItem()"
          [disabled]="isSubmitting">Add Item
  </button>
</form>
